body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#app {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    align-items: center;
    height: 100%;
}
.container {
    display: flex;
    align-items: center;
    background-color: bisque;
    width: 100%;
    margin: 0 auto;
    min-height: 50%;
    border-radius: 5px;
}
.prev {
    z-index: 10;
    margin-right: -10px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.next {
    z-index: 10;
    margin-left: -10px;
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
.arrow-left {
    font-size: 30px;
}
.arrow-right {
    font-size: 30px;
}
ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
}
